<%= provide(:title, "New Article") %>

<div class="btn-group pull-right">
  <%= link_to('Back', admin_articles_path, class: 'btn btn-default') %>
</div>

<h1>New Article</h1>

<hr class="featurette-divider">

<%= render 'form' %>
