
body > .container {
 // padding-top: 60px;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
